.mob-1, .tab-1, .pc-1,
.mob-2, .tab-2, .pc-2,
.mob-3, .tab-3, .pc-3,
.mob-4, .tab-4, .pc-4,
.mob-5, .tab-5, .pc-5,
.mob-6, .tab-6, .pc-6,
.mob-7, .tab-7, .pc-7,
.mob-8, .tab-8, .pc-8,
.mob-9, .tab-9, .pc-9,
.mob-10, .tab-10, .pc-10,
.mob-11, .tab-11, .pc-11,
.mob-12, .tab-12, .pc-12{
	position: relative;
	min-height: 1px;
}

/* Only pc version */
@media screen and (min-width: 1200px){
#wrapper{
	width: 1200px;
}
	#nav {
		line-height: 1.5em;
	}
		#nav li{
			margin: 0 15px;
			padding: 5px 0;
		}
}
/* pc & tablette version */
@media screen and (min-width: 768px){

	#header, #container, #footer-top{
		word-spacing: -0.3em;
	}
	#header > *, #container > *, #footer-top > *{
		word-spacing: normal;
	}

	.tab-1, .pc-1,
	.tab-2, .pc-2,
	.tab-3, .pc-3,
	.tab-4, .pc-4,
	.tab-5, .pc-5,
	.tab-6, .pc-6,
	.tab-7, .pc-7,
	.tab-8, .pc-8,
	.tab-9, .pc-9,
	.tab-10, .pc-10,
	.tab-11, .pc-11,
	.tab-12, .pc-12
	{
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		vertical-align: top;
	}

	.tab-1, .pc-1{ width: 8.333333333333%;}
	.tab-2, .pc-2{ width: 16.66666666666%;}
	.tab-3, .pc-3{ width: 25%;}
	.tab-4, .pc-4{ width: 33.33333333333%;}
	.tab-5, .pc-5{ width: 41.66666666666%;}
	.tab-6, .pc-6{ width: 50%;}
	.tab-7, .pc-7{ width: 58.33333333333%;}
	.tab-8, .pc-8{ width: 66.66666666666%;}
	.tab-9, .pc-9{ width: 75%;}
	.tab-10, .pc-10{ width: 83.33333333333%;}
	.tab-11, .pc-11{ width: 91.66666666666%;}
	.tab-12, .pc-12{ width: 100%;}
}
/* Only tablette version */
@media screen and (min-width: 768px) and (max-width: 1199px){
	#nav li{
		margin: 5px;
		padding: 10px 0 ;
	}
}
/* Only mobile version */
@media screen and (max-width: 767px){
	.mob-1, .mob-2, .mob-3, .mob-4, .mob-5, .mob-6, .mob-7, .mob-8, .mob-9, .mob-10, .mob-11, .mob-12{float: left;}
	.mob-1 { width: 8.333333333333%;}
	.mob-2 { width: 16.66666666666%;}
	.mob-3 { width: 25%;}
	.mob-4 { width: 33.33333333333%;}
	.mob-5 { width: 41.66666666666%;}
	.mob-6 { width: 50%;}
	.mob-7 { width: 58.33333333333%;}
	.mob-8 { width: 66.66666666666%;}
	.mob-9 { width: 75%;}
	.mob-10 { width: 83.33333333333%;}
	.mob-11 { width: 91.66666666666%;}
	.mob-12 { width: 100%;}


	#nav{
		padding: 0 10px;
	}
		#nav li{
			width: 100%;
			margin: 5px 0;
			padding: 10px 0 ;
		}

	#container > *, #footer-top > *{
		margin: 5px 0;
	}
}